.ProfilePage{
    padding-top: 2em;
    width: 100%;
    height: 100%;
    font-size: 19px;
    main{
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        border-radius: 0.2em;
        width: 50%;
        margin: 0 auto;

        display: flex;
        nav{
            border-right: 1px solid rgb(219, 219, 219);
            flex-shrink: 1;
            flex-grow: 0;
            min-width: fit-content;
            display: flex;
            flex-direction: column;
            font-weight: 600;
            a{
                transition: color 0.2s ease;
                color: #262626;
                padding: 0.85em;
                &:hover{
                    color: red;
                }
            }
        }
        .contents{
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}

.profile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div.ProfileImg-container{
        width: 6em;
        height: 6em;
    }
    span.nick{
        padding: 0.5em;
        font-weight: 900;
        color: #262626;
    }
}

.ProfileEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
        margin: 0.38em 0;
    }
    div.ProfileImg-container{
        cursor: pointer;
        position: relative;
        width: 5em;
        height: 5em;
    }
    input.profileImg{ display: none; }
    button.profileImg{
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        font-size: 100%;
        color: #3897f0;
        font-weight: 900;
    }    
    div.nick{
        label{
            font-weight: 600;
            margin-right: 0.3em;
        }
        input{
            padding: 0.2em;
            border: none;
            height: 2em;
            border-bottom: 1px solid grey;
            &:focus{
                font-weight: 600;
            }
        }
    }
    div.sex{
        display: flex;
        justify-content: center;
        align-items: center;
        label{
            font-weight: 600;
            margin-right: 0.25em;
        }
        input{
            width: 1.4em;
            height: 1.4em;
            margin-right: 1em;
        }
    }
    button.submit{
        outline: none;
        border: none;
        color: white;
        border-radius: 0.2em;
        padding: 0.6em 0.85em;
        font-weight: 600;
        font-size: 110%;
        background-color: #1E306E;
        transition: background-color 0.2s ease;
        &:disabled{
            background-color: #8c91ab;;
        }
        &:enabled:hover{
            cursor: pointer;
            background-color: #3F4DB8;
        }
    }
    .errMsg{
        color: red;
        font-size: 85%;
        font-weight: 900;
    }
}

.ChangePassword{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-container{
        width: 80%;
        position: relative;
        display: flex;
        height: 4em;
        justify-content: flex-end;
        align-items: flex-end;
        label{
            cursor: text;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 50%;
            position: absolute;
            top: 2em;
            left: 0;
            transition: all 0.2s ease;
            color: #262626;
        }
        input{
            border: none;
            height: 50%;
            width: 100%;
            border-bottom: 1px solid grey;
            &:focus{
                border: none;
                outline: none;
                border-bottom: 2px solid grey;
                ~ label {
                    top: 0;
                    font-size: 80%;
                }
            }
            &:valid{
                ~ label {
                    top: 0;
                    font-size: 80%;
                }
            }
        }
    }
    button{
        border-radius: 0.2em;
        border: none;
        padding: 0.5em;
        font-size: 110%;
        font-weight: 900;
        color: white;
        background-color: #1E306E;
        margin: 1em 0;
        transition: background-color 0.2s ease;
        &:disabled{
            background-color: #8c91ab;;
        }
        &:enabled:hover{
            cursor: pointer;
            background-color: #3F4DB8;
        }
    }
}

@media (max-width : 1280px){
    .ProfilePage{
        font-size: 18px;
    }
}

@media (max-width : 1024px){
    .ProfilePage{
        font-size: 17.5px;
        main{
            width: 85%;
        }
    }
}

@media (max-width : 960px){
    .ProfilePage{
        font-size: 17px;
    }
}

@media (max-width : 768px){
    .ProfilePage{
        font-size: 16px;
    }
}

@media (max-width : 600px){
    .ProfilePage{
        font-size: 15px;
        main{
            width: 95%;
        }
    }
}

@media (max-width : 480px){
    .ProfilePage{
        font-size: 14px;
        main{
            width: 98%;
        }
    }
}

@media (max-width : 320px){

}