@keyframes glitter {
    0%   {color: #e71837;}
    16%  {color: #fc9303;}
    32%  {color: #fce903;}
    48%  {color: #49b675;}
    64% {color: #0e4bef;}
    80% {color: #7493a0;}
    100% {color: #5a005a;}
}

@keyframes opacityAdjuster {
    from { 
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.VisitorCard{
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'do hyeon';

    animation-name: opacityAdjuster;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    background-color:white;

    display: flex;
    flex-direction: column;
    

    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0.3em;
    div.user{
        display: flex;
        align-items: center;
        .profileImg-container{
            padding: 0.6em;
            width: 3.4em;
            height: 3.4em;
        }
        .nick{
            font-size: 105%;
            font-weight: 900;
            color: #525252;
        }
    }
    div.description{
        height: 4.5em;
        font-size: 95%;
        font-weight: 100;
        padding: 0 0.65em;
        line-height: 145%;
        word-break: keep-all;
        word-wrap:break-word;
        overflow: auto;
        white-space: pre-line;
    }
    div.date-container{
        display: flex;
        justify-content: flex-end;
        .date{
            font-size: 100%;
            padding: 0.4em;
            color: #525252;
        }
        button.delete{
            background: none;
            border: none;
            cursor: pointer;
            background: red;
            color: white;
            font-weight: 900;
            border-radius: 0.2em;
            padding: 0 0.3em;
            &:hover{
                background-color: blue;
            }
        }
    }
}

.VisitorCard.member{
    div.user{
        .nick{
            color: black;
        }
    }
}

.VisitorCard.admin{
    div.user{
        .nick{
            animation-name: glitter;
            animation-duration: 1s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }
}



@media (max-width : 1280px){
    .VisitorCard-container{
        width: 33.3333333333%;
    }
}
// @media (max-width : 1024px){

// }
@media (max-width : 768px){
    .VisitorCard-container{
        width: 50%;
    }
}
@media (max-width : 480px){
    .VisitorCard-container{
        width: 100%;
    }
}
// @media (max-width : 320px){
// }