.InWritingPosts{
    font-size: 19px;
    width: 80%;
    margin: 0 auto;
    .post{
        cursor: pointer;
        margin: 2em 0;
        h1{
            font-size: 110%;
        }
        div{
            font-size: 100%;
        }
        transition: all 0.2s ease;
        &:hover{
            background-color: blue;
            color: white;
        }
    }
}