.PostHoriCard{
    width: 100%;
    display: flex;
    font-size: 100%;

    .spinner-container{
        width: 100%;
        height: 111px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contents{
        padding-right: 1.3em;
        width: 70%;
        display: flex;
        flex-direction: column;
        .title{
            cursor: pointer;
            word-wrap: keep-all;
            word-break: break-all;
            font-size: 120%;
            font-weight: 900;
            margin-bottom: 0.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 138%;
            transition: color 0.2s ease;
            &:hover{
                color: #3498db;
            }
        }
        .intro{
            flex-grow: 1;
            cursor: pointer;
            color: grey;
            font-size: 95%;
            overflow: hidden;
            word-wrap: keep-all;
            word-break: break-all;
            margin-bottom: 0.85em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-height: 160%;
            -webkit-box-orient: vertical;            
        }
        .authorAndDate{
            display: flex;
            align-items: center;
            margin-left: 0.2em;
            font-size: 75%;
            display: flex;
            div.ProfileImg-container{
                width: 3.25em;
                height: 3.25em;
                margin-right: 0.65em;
                img{
                    cursor: pointer;
                }
            }
            span.nick{
                cursor: pointer;
                font-size: 130%;
                font-weight: 600;
                color: #003569;
                transition: color 0.2s ease;
                &:hover{
                    color: #FF5252;
                }                
            }
        }
    }

    img.cover{
        border-radius: 0.1em;
        cursor: pointer;
        width: 30%;
        height: 100%;
        transition: opacity 0.2s ease;
        &:hover{
            opacity: 0.75;
        }
    }

}

@media (max-width : 1280px){

}

@media (max-width : 1024px){

}

@media (max-width : 960px){

}

@media (max-width : 768px){

}

@media (max-width : 600px){

}

@media (max-width : 480px){
    .PostHoriCard{
        // .contents{
        //     .intro{
        //         -webkit-line-clamp: 2;
        //     }
        // }
    }
}
